body {
    margin: 0;
    padding: 0;
    background: #efefef;
}

/* 头部区域 */
header {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #404040;
    z-index: 200;
}
#menu-switch-container {
    position: fixed;
    width: 68px;
    height: 68px;
    left: 0px;
    top: 0px;
}
#menu-switch-icon {
    position: fixed;
    width: 24px;
    height: 24px;
    left: 22px;
    top: 22px;
}
header h1 {
    margin: 0;
    height: 68px;
    line-height: 68px;
    text-align: center;
    background: #2980b9;
    color: white;
}
nav {
    display: none;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0;
    padding: 12px 48px;
    border-bottom: 1px solid #303030;
}
nav ul li:hover {
    background: #505050;
}
nav ul li:hover a{
    color: #fcfcfc;
    border-bottom: 1px solid #808080;
}
nav ul li a {
    display: box;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #202020;
}

#temp {
    height: 400px;
    background: red;
}


/* 内容区域 */
#main{
    margin-left: 300px;
    box-sizing: border;
    max-width: 800px;
    background: #fcfcfc;
    word-wrap: break-word;
}
/**
 * 响应式
 * 768px及以下为移动设备
 * 768px以上电脑
 */
@media screen and (max-width:768px) {
    header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 68px;
    }
    nav ul {
        background: #404040;
    }
    #temp {
        display: none;
    }

    #main {
        margin-left: 0;
        margin-top: 68px;
    }
}