
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* 头部 */
header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 666666;

    width: 48px;
    height: 100%;

    background: #000;
}
header nav {
    width: 100%;
    height: 100%;
}
.nav-item {
    float: left;

    border-bottom: 1px solid #000;
    width: 48px;
    height: 48px;

    text-align: center;
    line-height: 56px;

    background-color: #222;
    transition: background-color 0.3s;
}
.nav-item > img {
    width: 24px;
    height: 24px;
}
.nav-container {
    position: fixed;
    display: none;
    left: 48px;
    top: 0px;
    z-index: 999999;

    width: 300px;
    height: 100%;

    box-shadow: 5px 0px 15px #222;
}
#nav-main:hover {
    background-color: #AC5852;
}
#nav-music:hover {
    background-color: #1D694A;
}
#nav-main .nav-container {
    background: #AC5852; 
}
#nav-music .nav-container {
    background-color: #1D694A;
}
.nav-item:hover {
    border-radius: 12px 0 0 12px;
}
.nav-item:hover .nav-container {
    display: block;
}


/**
 * 主要内容
 * 地图
 */
#map-container {
    margin-left: 0px;
    height: 100%;

    background-color: #ddd;
}
#map {
    position: absolute;

    height: 100%;
    width: 100%;
}
#map-loading {
    position: absolute;
    top: 50%;

    width: 100%;

    font-size: 32px;
    text-align: center;

    color: #aaa;
}

/* 图片墙 */
#image-wall {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.8);
}
#image-wall-close {
    position: fixed;
    right: 32px;
    top: 16px;

    width: 32px;
    height: 32px;

    cursor: pointer;
    transition: transform 0.5s;
}
#image-wall-close:hover {
    transform: rotateZ(90deg);
}
#image-wall {
    overflow: scroll;
}
#image-wall-title {
    text-align: center;
    color: #EEE;
}
#image-container-wrapper {
    margin: 24px auto;
    padding: 0px 24px;
    max-width: 600px;
}
#image-container {
    margin: 0 auto;
}
#image-container .image {
    display: block;

    margin: 12px auto;
    width: 100%;
}
#image-wall-tip {
    height: 32px;
    
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    color: #888;
}

@media screen and (max-width:768px) {
    /* 头部 */
    #header {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        height: 48px;
    }
    .nav-item {
        border-bottom: 0px;
        border-right: 1px solid #000;
    }
    .nav-container {
        left: 0;
        top: 48px;

        width: 100%;
        height: 300px;
    }
    .nav-item:hover {
        border-radius: 12px 12px 0 0;
    }
    
    /* 地图 */
    #map-container {
        margin-left: 0;
    }
}